/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.7rem;
    padding: 0px 4px;
    padding-bottom: 8px;
}

/* home section */

#home{
height: 380px;
padding: 3px 68px;
flex-wrap: wrap;
}
#home::before{
    height: 480px;

}
#home p{
    font-size: 13px;
}
/* service section */
#services{
    flex-direction: column;
    flex-wrap: wrap;
}
#services .box{
    padding: 14px;
    margin: 2px 12px;
    margin-bottom: 20px;
    
}


/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 100px;
    padding: 2px 6px;
    height: auto;
}


/* contact section */
#contact-box{
    flex-wrap: wrap;
}
#contact-box form{
    width: 80%;
}
/* footer */

/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}